.show-list--enter {
    opacity: 0.01;
}

.show-list--enter.show-list--enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.show-card {
    margin-bottom: 2rem;
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show-card:hover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.show-card__image {
    height: 200px;
    width: auto;
    border-radius: 0;
}

.show-card__title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-weight: bold;
}

.show-card__details {
    font-size: .8rem;
}

.show-card__details__entry span,
.show-card__social-media span {
    display: inline-block;
    min-width: 30%;
}

.show-card__social-media {
    background-color: inherit;
    font-size: .8rem;
}

.social-media-button {
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    color: #fff;
    font-size: 1.1rem;
}

.social-media-button:hover {
    cursor: pointer;
}

.social-media-button--facebook {
    background-color: #3c60a4;
}

.social-media-button--twitter {
    background-color: #5fa9ef;
}

.social-media-button--instagram {
    background-color: #8d45a5;
}
